/*#tableHeader {
	position: fixed;
	background-color: white;
}
*/
#ticketmasterDiv {
	max-height: 400px;
    overflow: auto;
    width: 90%;
    margin: auto;
    border: 1px solid black;
}

.btn {
	background-color: #2d64a7;
	color: white;
}

.btn:hover {
	background-color: #4286f4;
	color: white;
}

.link {
	color: black;

body {
	background: url("../images/background.jpg");
}

.polaroid img {
	margin: auto;
	border: 15px solid #fff;
	border-radius: 3px;
	border-bottom: 45px solid #fff;
	-webkit-box-shadow: 3px 3px 3px #777;
		-moz-box-shadow: 3px 3px 3px #777;
			box-shadow: 3px 3px 3px #777;
}

.youTubeTitle {
	color: white;
	font-weight: bold;
}
/*YouTube Results Div*/
#results {
	border-top: 2px solid white;
	margin-top: 15px;
}