body {
	background: url("../images/background.jpg");
}

.jumbotron {
	opacity: 0.8;
}

#searchInput {
	width: 80%;
	margin-left: 5%;
}

#ticketmasterDiv {
	max-height: 400px;
    overflow: auto;
    width: 90%;
    margin: auto;
    border: 1px solid white;
    color: white;
    background-color: #8BB3E2;
    margin-bottom: 15px;
}

.btn {
	background-color: #2d64a7;
	color: white;
}

.btn:hover {
	background-color: #4286f4;
	color: white;
}

.link {
	color: white;
}

.polaroid img {
	margin: auto;
	margin-bottom: 15px;
	border: 15px solid #fff;
	border-radius: 3px;
	border-bottom: 45px solid #fff;
	-webkit-box-shadow: 3px 3px 3px #777;
		-moz-box-shadow: 3px 3px 3px #777;
			box-shadow: 3px 3px 3px #777;
}

.youTubeTitle {
	color: white;
	font-weight: bold;
}

/*YouTube Results Div*/
#results {
	border-top: 2px solid white;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 10px;
}

.item {
	margin-top: 15px;
}

#footer {
	font-weight: bold;
	background-color: #8BB3E2;
	width: 100vw;
	height: 30px;
	margin-top: 25px;
	position: fixed;
	bottom: 0px;
}

#footer>a {
	color: white;
	font-weight: bold;
	text-align: center;
}

/*+++++ CSS For Mailing List +++++++++*/

#mailingList {
	border: 2px solid white;
	background-color: #8BB3E2;
	width: 50%;
	padding: 10px;
	margin: auto;

}

#mailingList>input {
	width: 40%;
}
/*+++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 475px) {
	#ticketmasterDiv {
		font-size: 
	}
}
@media screen and (max-width: 490px) {
	#submitButton {
		margin-left: 5%;
	}

	.display-2 {
		font-size: 55px;
	}
}

@media screen and (max-width: 576px) {
	#picturesCarousel{
		margin-top: 15px;
	    margin-bottom: 15px;	
	}

	#ticketmasterDiv {
		max-height: none;
	}
}

/*Trying to use the media query to have images div break under tickets*/
/*@media screen and (max-width: 1030px) {
	.col-sm-8 {
		display: block;
	}
}*/

/*If on a mobile device*/
@media (hover: none) {
	#ticketmasterDiv {
		max-height: none;
	}
}	